/* css for weather dashboard
written by Letty Bedard */


body{
  font-family: 'Arial', 'Helvetica Nue', Helvetica, sans-serif;
  color: #777777;
  margin-top: 30px;
  background-image: url("./Images/cork-board.png");
}

div.titlePanel{
  margin-top: 30px;
  border-bottom: 2px solid #666666;
}

.whiteBack{
  background-color: #ffffff;
}

.leftSidePanel{
  border-right: 1px solid #666666;
}

.resultsPane{
  border-radius: 5px;
  border: 1px solid #ececec;
}

h1, h5 {
  font-family:'Georgia', 'Times New Roman', Times, serif;
  color: #4aaaa5;
}

h3 {
  font-family:'Georgia', 'Times New Roman', Times, serif;
}

.forecast{
  background-color: #4aaaa5;
  color: white;
}

.saveButton{
  align-items: center;
  background-color: #4aaaa5;
  color: #ffffff;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.trashButton{
  align-items: center;
  background-color: #4aaaa5;
  color: #ffffff;
  border-left: 1px solid white;
  border-radius: 15px;
}

footer.footerStyle{
  background-color: #666666;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #4aaaa5;
}     

div.footerText{
  color: #ffffff;
  padding-top: 10px;
}

/* from develop */

textarea{
  background: transparent;
  border: none;
  box-shadow: black;
  resize: none;
  color: #000000;
  /* border-left: 1px solid black; */
  padding: 10px;
}


